<link rel="stylesheet" href="/css/index.css">

<body id="index-page-body">
    <div class="container">
        <div class="icon">
            <i class="fa-solid fa-mobile-screen"></i>
        </div>
        <div class="heading">
            Social Media
        </div>
    </div>
</body>