#index-page-body{
    background-color: rgb(2, 0, 36);
    color: aliceblue;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.container i{
    font-size: 13rem;
}
.container .heading{
    font-size: 7rem;
    margin-left: 45px;
    margin-top: 50px;
}